.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Raleway', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

.login-image {
  width: 66%;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.radius {
  border-radius: 30px;
}

#btn-li {
  width: 60% !important;
}

#forg-pass {
  font-size: 0.9rem !important;
}

.userNameStyle {
  font-family: 'Raleway', serif;
}

.text-before-button {
  margin-right: 10px !important;
}

.filter-asc-des-by-price {
  margin-bottom: 0px !important;
}

.product-container {
  margin-top: 10%;
  background: white;
  border: 0.5px solid lightgray;
  height: 400px;
}
.product-container-cart {
  margin-top: 0%;
  background: white;
  border: 0.5px solid lightgray;
  height: 400px;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: top;
}

.gallery {
  display: flex;
  margin: 10px auto;
  margin-right: 30px;
  max-width: 600px;
  position: relative;
  padding-top: 66.6666666667%;
}

@media screen and (min-width: 600px) {
  .gallery {
    padding-top: 400px;
  }
}

.gallery__img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.gallery__thumb {
  padding-top: 6px;
  margin: 6px;
  display: block;
}

.gallery__selector {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.gallery__selector:checked+.gallery__img {
  opacity: 1;
}

.gallery__selector:checked~.gallery__thumb>img {
  box-shadow: 0 0 0 3px #0be2f6;
}

.product-title {
  margin-top: 2px auto;
}

.product-description {
  margin-top: 30px;
}

.buttons-place {
  margin-top: 155px;
}

.comments-body {
  margin-left: 35px;
}

.comments-username {
  margin-left: 5px;
}

.comments-date {
  margin-left: 5px;
}

.margin-bottom-text {
  margin-bottom: 15px;
}

.rate {
  margin-right: 23px;
}

.comment-box {
  padding: 5px;
  margin-top: 5px;
}

.comment-area textarea {
  resize: none;
  border: 1px solid #ad9f9f
}

.form-control {
  font-size: 14px;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #ffffff;
  outline: 0;
  box-shadow: 0 0 0 1px rgb(22, 87, 226) !important
}

.send {
  color: #fff;
  background-color: rgb(22, 87, 226);
  border-color: rgb(22, 87, 226)
}

.send:hover {
  color: #fff;
  background-color: #1401c0;
  border-color: #1401c0
}

.rating {
  display: flex;
  margin-top: -10px;
  flex-direction: row-reverse;
  margin-left: -4px;
  float: left
}

.rating>input {
  display: none
}

.rating>label {
  position: relative;
  width: 19px;
  font-size: 25px;
  color: orange;
  cursor: pointer;
}

.rating>label::before {
  content: "\2605";
  position: absolute;
  opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
  opacity: 1 !important
}

.rating>input:checked~label:before {
  opacity: 1
}

.rating:hover>input:checked~label:before {
  opacity: 0.4
}

.opinion-title {
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 15px;
}

#userDropdown>.btn-secondary {
  color: rgba(255, 255, 255, .55);
  padding-top: 7px;
  border: transparent;
  background: transparent;
}

.dropdown-icons {
  color: #212529;
}

.product-info-container {
  margin-top: 35px;
}

.related-products {
  margin-top: 15px;
  margin-right: 15px;
  width: 250px;
  height: 250px;
}

.related-products>.card-img-top {
  margin-top: 15px;
}

#related-products-body {
  margin: 0.5rem !important;
}

.list-group-item-cart {
  width: 400px;
  border: none;
}

#cart>.first-hr {
  margin: 0%;
  border: solid grey 1px
}

#cart>hr {
  margin: 0%;
}

.cart-container {
  margin-top: 0px;
  border: 0.5px solid lightgray;
  height: 400px
}

li>.cart-count-input {
  border: 0.5px solid lightgray
}

.input-address-cart {
  border: solid 1px lightgray;
}

.delivery-adress-container {
  flex: 0 0 auto;
  width: 74.3%;
  margin-top: 0.5rem
}
.tipo-de-envio{
  margin-top: 0.5rem
}
.radio-casa-apto{
  width: 20px;
  padding-left: 5px;
  margin-top: 10px!important;
  margin-left: 0%;
  align-self: flex-end;
}
.cart-header{
  margin-top: 10px;
  border: 0.5px solid lightgray;
}
.modal-hr {
  margin-top: 2rem;
  margin-bottom: 0rem;
  color: grey;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}
.form-control.no-validate:valid {
  border-color: #ced4da;
  padding-right: .75rem;
  background: none;
}

.user {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  object-fit: cover;
}

#display-image {
  background-image: url(../img/user.png)
}

.parent {
  position: relative;
  top: 0;
  left: 0;
}

.image1 {
  position: absolute;
  top: -75px;
  right: 80px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);

}
.image2 {
  position: absolute;
  top: 45px;
  right: 80px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.image-upload>input {
  display: none;
  transition: all 0.2s ease-in-out;
}

.fade-in {
  animation: fadeIn ease 0.3s;
  -webkit-animation: fadeIn ease 0.3s;
  -moz-animation: fadeIn ease 0.3s;
  -o-animation: fadeIn ease 0.3s;
  -ms-animation: fadeIn ease 0.3s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}